@import '~react-widgets/lib/less/react-widgets';
@import '~react-simplemde-editor/dist/simplemde.min.css';
@import (once) "var";
body {
  color: @font-color-1;
  background: @background;
}

/* HELPER */
.section.no-pad-bot.push-section-up {
  margin-top: -56px;
  padding-top: 56px;
  margin-bottom: 56px;
  @media @ms-m {
    margin-top: -64px;
    padding-top: 64px;
  }
}

.main-nav {
  img {
    width: 180px;
    margin-top: 12px;
    @media @ms-m {
      margin-top: 16px;
    }
  }
  box-shadow: 0 2px 11px 3px rgba(0, 0, 0, 0.03), 0 2px 14px 2px rgba(0, 0, 0, 0);
}
nav a, nav ul a {
  color: @font-color-3;
}


/* INTRO(TOP SECTION) */
.intro {
  //background: @primary;
  //.container {
  //  position: relative;
  //}
}

.search-container {
  background: white;
  display: -webkit-flex;
  display: flex;
  height: 3.5rem;
  padding: 7px;
  position: relative;
  top: 22px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.02);
  input {
    -webkit-flex: 1;
    flex: 1;
    border: none;
  }
  .search-btn-container {
    width: 50px;
    i {
      line-height: 2.7rem;
      float: right;
      color: @primary;
    }
  }

}

/* HEADER */

.main-nav {
  a.active {
    color: #748ffc;
  }
}

/* FOOTER */
.page-footer {
  color: @gray_3;
  text-align: center;
  a {
    margin-left: 0.5rem;
    color: @gray_3;
  }
}

/* MOIM */
.moim-container {
  @radius: 2px;
  box-shadow: 0 15px 15px rgba(0,0,0,.05);
  border-radius: @radius;
  line-height: 0;
  margin-bottom: 1rem;
  img.moim-thumbnail {
    width: 100%;
    border-radius: @radius @radius 0 0;
  }
  .moim-contents {
    line-height: initial;
    padding: 3px 1rem;
    .title {
      height: 2rem;
    }
    .moim-footer {
      border-top: 2px solid rgba(228, 228, 228, 0.3);
      color: @gray_3;
      display: -webkit-flex;
      display:         flex;
      align-items: center;
      justify-content: space-between;
      height: 2.8rem;
      .like-container {
        display: inline-block;
        i {
          font-size: 1.5rem;
          display: inline-block;
          color: @gray_light;
        }
        .count {
          display: inline-block;
          vertical-align: super;
          margin-left: 3px;
          font-weight: 300;
        }
      }
      .date {
        display: inline-block;
        font-size: 0.9rem;
        font-weight:lighter;
        margin: 0;
      }
    }
  }
}

.img-responsive {
  width: 100%;
}

.container-body {
  margin-top: 1rem;
}

.meetup-title-section {
  margin: 1.5rem 0 0.8rem;
  .meetup-title {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: bold;
  }
  .meetup-user {
    float: right;
    font-size: 1.3rem;
    color: #adadad;
    .user-thumbnail {
      margin-left: 7px;
      width: 33px;
      vertical-align: middle;
    }
  }
  .meetup-summary {
    color: #6d6d6d;
    font-weight: 300;
  }
}

.meetup-box {
  background: white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 1.5rem 0.8rem;

  h2 {
    font-weight: 800;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

td {
  padding: 9px 5px;
  &:first-of-type {
    text-align: right;
    color: #909090;
    font-weight: 300;
  }

}

.chip {
      background-color: #eaeaea;
}
.meetup-contents {
  img {
    width: 100% !important;
  }
}

/* MEETUP FORM */
.rw-widget-picker.rw-widget-container {
  input {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
